<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DBConnectionString" connectionString="server=PRANIT\SQLEXPRESS2022; database=OSWALMRA; Integrated Security=false;User Id=sa;Password=MMSPhW110; Encrypt=false" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>